a{
	text-decoration:none;
	color: #000;
	cursor: pointer;
}
body{
	margin:0;
	padding:0;
	height: 786px;
}
#log{
	position: absolute;
    top: -10%;
    left: -274%;
}
#topone{
    position: absolute;
    top: 0.5%;
    left: 890px;
    width: 220px;
    font-size: 10px;
    padding: 11px;
    background-color: #E5E6E6;
    word-spacing: 40px;
    cursor: pointer;
}
#xvxian{
	position: absolute;
	top: 28%;
	left: 24.5%;
	border-left: 1px dashed #333;
	height:40%;
	line-height:1px;
}
#xvxian2{
	position: absolute;
	top: 28%;
	left: 63.5%;
	border-left: 1px dashed #333;
	height:40%;
	line-height:1px;
}
#firstone{
	position: absolute;
    top: 170px;
    background-color: #E1E8E5;
    width: 100%;
    height: 278px;
    opacity:0.5;
    box-shadow: #A1A5A8 20px -10px 10px -10px inset;
}
#xuezhiqian{
	position: absolute;
    top: 90px;
    left: 626px;
    width: 242px;
    height: 245px;
    cursor: pointer;
    border: 1px solid #EDEDED;
    box-shadow: #E7E7E7 0px 0px 20px;
    z-index: 3;
}
#firsttwo{
	position: absolute;
    top: 90px;
    left: 868px;
    width: 264px;
    height: 245px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: #C7C7C7 0px 0px 20px;
    display: block;
    z-index: 3;
}
#waitiao{
	position: absolute;
	top: 204px;
	left: 889px;
	background-color: #E5E5E8;
	height: 2px;
	cursor: pointer;
	width:225px;	
	z-index: 3;
}
#shijian{
	position: absolute;
	top: 200px;
	left: 1070px;
	font-size: 1px;	
	z-index: 3;
}
#neitiao{
	background-color:#9DD6C5;
	width: 0%;
	height: 2px;
	border-right: 2px solid #399CCF;
	border-radius:10%;
	z-index: 3;
}
#yanyuan{
	position: absolute;
    top: 63px;
    left: 890px;
    width: 63px;
    height: 37px;
    z-index: 3;
}
#tiao{
	position: absolute;
    top: 218px;
    left: 1069px;
    background-color: #E5E5E8;
    height: 4px;
    cursor: pointer;
    width: 45px;
    z-index: 4;
    display: none;
}
#yinliangtiao{
	background-color:#9DD6C5;
	width: 0%;
	height: 4px;
	border-right: 2px solid #333333;
	border-radius:10%;
	z-index: 4;
	display: none;
}
#shengyin{
	position: absolute;
    top: 212px;
    left: 1105px;
    cursor: pointer;
    z-index: 4;
    display: block;
}
#shengyin:hover{
	display: none;
}
#paused{
	position: absolute;
    top: 90px;
    left: 1095px;
    cursor: pointer;
    z-index: 5;
}
#imgxin{
	position: absolute;
    top: 272px;
    left: 953px;
    cursor: pointer;
    z-index: 3;
}
#imglaj{
	position: absolute;
    top: 271px;
    left: 1014px;
    cursor: pointer;
    z-index: 3;
}
#imgnext{
	position: absolute;
    top: 271px;
    left: 1073px;
    cursor: pointer;
    z-index: 3;
}
#imgxinb{
	position: absolute;
    top: 272px;
    left: 961px;
    cursor: pointer;
    z-index: 3;
    display: none;
   opacity: 0.5;
}
#imglajb{
	position: absolute;
    top: 271px;
    left: 1100px;
    cursor: pointer;
    z-index: 3;
    display: none;
}
#imgnextb{
	position: absolute;
    top: 273px;
    left: 1080px;
    cursor: pointer;
    z-index: 3;
    display: none;
}
#firstthird{
	position: absolute;
    top: 90px;
    left: 868px;
    width: 264px;
    height: 245px;
    background-color: #FFFFFF;
    border: 1px solid #EDEDED;
    display: none;
    opacity:0.85;
    cursor: pointer;
    z-index: 5;
}
#jixv{
	position: absolute;
    top: 108px;
    left: 108px;
    font-size: 10px;
    color: #333333;
    display: none;
    z-index: auto;
    cursor: pointer;
    z-index: 5;
}
#fasong  img{
	position: absolute;
    top: 361px;
    left: 625px;
}
#fasong a{
	position: absolute;
    top: 365px;
    left: 650px;
    font-size: 12px;
    color: #999999;
}
#tingxiangsi{
	position: absolute;
    top: 364px;
    left: 1040px;
    width: 72px;
    padding: 10px;
    font-size: 12px;
    color: #999999;
    border: 1px solid #9DD6C5;
    background-color: #E2E8E6;
    z-index: 6;
}
#tingxiangsi img{
	position: absolute;
    top: 0px;
    left:5px;  
}
#tingxiangsi a{
	position: absolute;
    top: 3px;
    left: 30px;
    width: 60px;
    color: #999999;
}
#fenxiang a{
	position: absolute;
    top: 400px;
    left: 1074px;
    font-size: 10px;
    color: #999999;
    z-index: 5;
    cursor: pointer;
}
#fenxiang img{
	position: absolute;
    top: 392px;
    left: 886px;
    display: none;
    z-index: 5;
    cursor: pointer;
}
#xiazai{
	position: absolute;
    top: 480px;
    left: 972px;
    width: 162px;
    height: 34px;
    padding: 5px;
    border-radius: 5%;
    border: 1px;
    background-color: #00C35A;
    font-size: 15px;
}
#shouji{
	position: absolute;
	top: 6px;
	left: 8px;
}
#xiazai a{
	position: absolute;
    top: 9px;
    left: 26px;
    width: 130px;
	color: #FFFFFF;
}
#low1{
	position: absolute;
    top: 592px;
    left: 251px;
    color: #999999;
    font-size: 12.5px;
}
#low2{
	position: absolute;
    top: 592px;
    left: 337px;
    color: #999999;
    font-size: 12.5px;
}
#low3{
	position: absolute;
    top: 592px;
    left: 451px;
    color: #999999;
    font-size: 12.5px;
}
#low4{
	position: absolute;
    top: 592px;
    left: 770px;
    color: #999999;
    font-size: 12.5px;
}
#low5{
	position: absolute;
    top: 592px;
    left: 825px;
    color: #999999;
    font-size: 12.5px;
}
#low6{
	position: absolute;
    top: 592px;
    left: 921px;
    font-size: 12.5px;
}
#low6 a,span{
	color: #999999;
}
#low7{
	position: absolute;
    top: 634px;
    left: 637px;
    color: #999999;
    font-size: 12.5px;
}
#all{
	position: relative;
    left: 26px;
    width: 1323px;
	height: 804px;
	overflow: auto;
	box-shadow: #EBEBEB 20px -10px 10px -10px inset;
}
#bgMusic{
	position: absolute;
	top: 500px;
	z-index: 10;
}
#audio{
	position: fixed;
    top: 185px;
    left: 871px;
    width: 255px;
    height: 32px
}
#low{
	position: fixed;
    top: 548px;
    left: 210px;
    border: 4.2px solid #D9D9D9;
    z-index: 3;
}
#secondbeijing{
	position: relative;
    top: -665px;
    left: 0px;
    height: 490px;
    width: 1366px;
    overflow: hidden;
}
#second{
	position: absolute;
	top: 0px;
	width: 1366px;
	border: 0px solid #9DD6C5;
	box-shadow: #666 0px 0px 20px;
    height: 100%;
    opacity:1;
    overflow-y: scroll;  
    overflow-x: hidden;
    z-index: 2;
}
#one{
	position: absolute;
    top: 28px;
    left: 230px;
    width: 300px;
    height: 200px;   	
}
ul{
	list-style: none;	
}
#one ul li a{
	font-size: 10px;
    letter-spacing: 2px;
    width: 195px;
    height: 15px;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    background-color: #E3E9E6;
    display: block;
    margin: 15px;
}
#two{
	position: absolute;
    top: 208px;
    left: 230px;
    width: 300px;
    height: 95px;   	
}
#two ul li{
	font-size: 10px;
    letter-spacing: 2px;
    text-align: left;
    padding: 15px;
    color: #888888;  
}
#two ul li a{
	color: #888888;
}
#xianone{
	position: absolute;
    top: 32px;
    left: 112px;
    width: 160px;
}
#xiantwo{
	position: absolute;
    top: 75px;
    left: 112px;
    width: 160px;
}
#third{
	position: absolute;
    top: 294px;
    left: 230px;
    width: 300px;
    height: 175px;  	
}
#third ul li a{
	font-size: 10px;
    letter-spacing: 2px;
    width: 195px;
    height: 15px;
    text-align: left;
    padding: 12px;
    cursor: pointer;
    background-color: #E3E9E6;
    display: block;
    margin: 15px;
}
#four{
	position: absolute;
    top: 588px;
    left: 265px;
    color: #888888;
    font-size: 10px;
    letter-spacing: 2px;
    width: 205px;
    height: 18px;
    text-align: left;
    padding: 15px;  	
}
#xianthird{
	position: absolute;
    top: 15px;
    left: 75px;
    width: 160px;
}
#five{
	position: absolute;
    top: 618px;
    left: 270px;
    width: 300px;
    height: 304px;  	
}
#five button{
	font-size: 10px;
    letter-spacing: 2px;
    width: 225px;
    height: 38px;
    text-align: left;
    padding: 15px;
    margin: 9px;
    cursor: pointer;
    border-style: none;
    background-color: #E3E9E6;
}
#denglubeijing{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #E9EDEB;
	z-index: 10;
	opacity: 0.8;
	display: none;
}
#denglu{
	position: fixed;
    top: 175px;
    left: 405px;
    width: 554px;
    height: 350px;
	background-color: #FFFFFF;
	z-index: 10;
	box-shadow: #C7C7C7 0px 0px 20px;
	display: none;
}
#denglu p{
	position: absolute;
	top: 26px;
	left: 40px;
	font-size: 18px;
	color: #333333;
	font-weight: 500;
}
#shuru{
	position: absolute;
    top: 80px;
    left: 40px;
    width: 283px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shuru p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#inputa{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 119px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#shuruone{
	position: absolute;
    top: 127px;
    left: 40px;
    width: 283px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shuruone p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#inputb{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 119px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#shurutwo{
	position: absolute;
    top: 176px;
    left: 40px;
    width: 150px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shurutwo p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#shurutwo img{	
    position: absolute;
    top: 0px;
    left: 152px;
    font-size: 10px;
    letter-spacing: -1px;
    cursor: pointer;
}
#inputc{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 57px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#dengluyouce{
	position: fixed;
    top: 175px;
    left: 767px;
    width: 192px;
    height: 350px;
	background-color: #5A5A5A;
	z-index: 10;
}
#dengluyouce div{
	position: absolute;
	top: 58px;
	left: 26px;	
}
#dengluyouce p{
	position: absolute;
	top: 25px;
	left: 26px;
	color: #AAAAAA;
	font-size: 10px;	
}
#nonezhang p{
	position: absolute;
	top: 202px;
    left: 0px;
    width: 90px;
}
#dengluyouce div a{
	color: #8FBEB0;
	font-size: 10px;
}
#jizhumima input{
	position: absolute;
    top: 230px;
    left: 36px;
}
#jizhumima p{
	position: absolute;
    top: 220px;
    left: 55px;
    color: #888888;
    font-size: 10px;
}
#jizhumima a{	    
    position: absolute;
    top: 233px;
    left: 268px;
    color: #55BB99;
    cursor: pointer;
    font-size: 10px;
}
#dengluniu{
	position: absolute;
    top: 267px;
    left: 215px;
    height: 35px;
    width: 108px;   
    background-color: #9DD6C5;
    cursor: pointer;   
}
#dengluniu p{
	position: absolute;
    top: -6px;
    left: 40px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
#dengluniu:hover{
	background-color: #BAE2D6;
}
#dengluniu:hover p{
	color: #5A5A5A;
	background-color: #BAE2D6;
}
#dengluyouce div div{
	position: absolute;
    top: 236px;
    left: 1px;
    width: 138px;
    height: 30px;
	border: 1px solid #666666;
}
#dengluyouce div div a{
	position: absolute;
    top: 6px;
    left: 8px;
    font-size: 15px;
    color: #FFFFFF;
}
#dengluyouce:hover div div{
	background-color: #666666;
}
#dengluyouce img{
	position: absolute;
	top: 0px;
	left: 159px;
	cursor: pointer;
}


#dengluer{
	position: fixed;
    top: 124px;
    left: 405px;
    width: 554px;
    height: 400px;
	background-color: #FFFFFF;
	z-index: 10;
	box-shadow: #C7C7C7 0px 0px 20px;
	display: none;
}
#dengluer p{
	position: absolute;
	top: 26px;
	left: 40px;
	font-size: 18px;
	color: #333333;
	font-weight: 500;
}
#shuruer{
	position: absolute;
    top: 80px;
    left: 40px;
    width: 283px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shuruer p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#inputaa{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 119px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#shuruonea{
	position: absolute;
    top: 127px;
    left: 40px;
    width: 283px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shuruonea p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#inputbb{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 119px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#shuruthreea{
	position: absolute;
    top: 175px;
    left: 40px;
    width: 283px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shuruthreea p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#inputdd{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 119px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#shurutwoa{
	position: absolute;
    top: 223px;
    left: 40px;
    width: 150px;
    height: 35px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
}
#shurutwoa p{	
    position: absolute;
    top: -2px;
    left: 9px;
    font-size: 10px;
    letter-spacing: -1px;
}
#shurutwoa img{	
    position: absolute;
    top: 0px;
    left: 152px;
    font-size: 10px;
    letter-spacing: -1px;
    cursor: pointer;
}
#inputcc{
	position: absolute;
    top: 0px;
    left: 92px;
    width: 57px;
    height: 31px;
    font-size: 11px;
	color: #333333;
	font-weight: 500;
	background-color: #EEF1F0;
	border: 0px solid #EEF1F0;
	outline:medium;
}
#dengluyoucea{
	position: fixed;
    top: 124px;
    left: 767px;
    width: 192px;
    height: 400px;
	background-color: #5A5A5A;
	z-index: 10;
}
#dengluyoucea div{
	position: absolute;
	top: 58px;
	left: 26px;	
}
#dengluyoucea p{
	position: absolute;
	top: 25px;
	left: 26px;
	color: #AAAAAA;
	font-size: 10px;	
}
#nonezhanga p{
	position: absolute;
    top: 251px;
    left: 0px;
    width: 102px;
}
#dengluyoucea div a{
	color: #8FBEB0;
	font-size: 10px;
}
#jizhumimaa input{
	position: absolute;
    top: 305px;
    left: 36px;
}
#jizhumimaa p{
	position: absolute;
    top: 295px;
    left: 55px;
    color: #888888;
    font-size: 10px;
}
#jizhumimaa a{	    
    position: absolute;
    top: 233px;
    left: 268px;
    color: #55BB99;
    cursor: pointer;
    font-size: 10px;
}
#dengluniua{
	position: absolute;
    top: 295px;
    left: 215px;
    height: 35px;
    width: 108px;   
    background-color: #9DD6C5;
    cursor: pointer;   
}
#dengluniua p{
	position: absolute;
    top: -6px;
    left: 24px;
    font-size: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}
#dengluniua:hover{
	background-color: #BAE2D6;
}
#dengluniua:hover p{
	color: #5A5A5A;
	background-color: #BAE2D6;
}
#dengluyoucea div div{
	position: absolute;
    top: 285px;
    left: 1px;
    width: 138px;
    height: 30px;
	border: 1px solid #666666;
}
#dengluyoucea div div a{
	position: absolute;
    top: 6px;
    left: 8px;
    font-size: 15px;
    color: #FFFFFF;
}
#dengluyoucea:hover div div{
	background-color: #666666;
}
#dengluyoucea img{
	position: absolute;
	top: 0px;
	left: 159px;
	cursor: pointer;
}